.menu {
   display: flex;
   flex-direction: row;
   justify-content: start;
   padding: 1.5rem;
}

.menu a {
   text-decoration: none;
   color: white;
   font-size: 18px;
   padding: 1rem;
   font-weight: 500;
   transition: 1s;
}

.menu a:hover {
   color: #22e9a8;
   font-size: 20px;
}

.menu .active {
   color: #22e9a8;
}
